@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://images.squarespace-cdn.com/content/v1/58f4e764d1758e2a7af1817a/1532055792909-0OX2SOZOS2JBOKFH0S7S/ke17ZwdGBToddI8pDm48kCd_aZnQiGBw_1crRQerc0t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UQhbMNvjAZH-voIarNsMAkuugCjm9FcH8KY-IN7rsHwrgcn6GrooQgfbQFaDpHcBUw/flat-lay-desk.jpg?format=2500w://i.pinimg.com/736x/b4/c6/78/b4c678af7d8aade2ebc844a6fb78ed25.jpg);
}

main {
  flex-grow: 1;
}



